//main-color
$color-white: #fff;
$color-black-ux: #0e0f19;
$color-black: #000;
$color-blue: #2196f3;
//color-nav-top
$color-navtop-main: #2F3744;
$color-navtop-text: white;
//color-nav-left
$color-nav-main: #2F3744;
$color-nav-dopmain: #3F4B5C;
$color-nav-body: #D8E3E8;
$color-nav-head: #E1EBF0;
//color-nav-admin
//font-size
$fon-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;

$header-width: 70px;