@import './_constant.scss';
//navtop
nav{
    position: fixed;
    width: 100%;
    height: 72px;
    // margin-top: 24px; 
    background: $color-navtop-main;
    color: $color-navtop-text;
    .navtop-main{
        margin-left: 80px;
        padding: 20px 0;
    }
}
//navleft
.container-main{
    width:100vh;
}
.container-header{
    position: fixed;
    width: $header-width;
    height: 100%;
    background: $color-nav-main;
    z-index: 2;
    .btn-close{
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        width: 40px;
        height: 40px;
        background: $color-blue;
        border-radius: 50%;
        display: none;
        &:before{
            content: "";
            position: absolute;
            top: -20px;
            right: -20px;
            width: 90px;
            height: 80px;
        }
        .icon-item{
            display: block;
            width: 23px;
            height: 2px;
            background-color: $color-white;
            position: absolute;
            top: 13px;
            right: 9px;
            &:nth-child(2){
                top: 19px;
            }
            &:nth-child(3){
                top: 25px;
            }
        }
    }
    a{
        color: #fff;
    }
    Link{
        color:#fff;
    }
    .logo{
        cursor: pointer;
        position: relative;
        display: block;
        height: 72px;
        background: $color-blue;
        .box-icon-logo{
            position: absolute;
            top: 30px;
            left: 14px;
            right: 14px;
            height: 22px;
            width: 42px;
            .item-logo{
                display: block;
                height: 8px;
                background: $color-white;
                &:nth-child(1){
                    width: 19px;
                }
                &:nth-child(2){
                    width: 32px;
                }
                &::nth-child(3){
                    width: 42px;
                }
            }
        }
    }
    .menu-item{
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;
        height: 70px;
        text-align: center;
        line-height: 80px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        .icon{
            fill: #878789;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }
        .menu-text{
            position: absolute;
            top: 0;
            left: -170px;
            height: 70px;
            width: 170px;
            background-color: $color-blue;
            font-size: 24px;
            text-align: center;
            line-height: 70px;
            color: transparent;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }
        &:hover{
            background: $color-blue;
            .icon{
                fill: $color-white;
            }
            .menu-text{
                color: #124268;
                left: 70px;
            }
        }
        &focus{
            color: $color-blue;
        }
    }
    .item{
        &.active{
            .menu-item{
                background: $color-blue;
                .icon{
                    fill: $color-white;
                }
            }
        }
    }
}
.icon-info{
    width: 24px;
    height: 24px;    
}
.icon-fly{
    width: 22px;
    height: 22px;
}
.icon-man{
    width: 21px;
    height: 22px;
}
.icon-start{
    width: 24px;
    height: 23px;
}
.icon-doc-menu{
    width: 28px;
    height: 19px;
}
.icon-email.menu{
    width: 27px;
    height: 21px;
}