@import './_constant.scss';
@import './notes.scss';

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:before
*:after{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
input,
button,
select,
textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body{
    background:$color-nav-body;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
//боковое меню 250px
header{
    width:250px;
}